/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); /*Montserrat*/

/* GLOBAL STYLING */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

/* LOGIN PAGE */
.login-signup-container {
  width: 70%;
  margin: auto;
  margin-top: 30px;
  animation-name: flow;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.header  {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}

.header h1, p {flex: 1;}
.header h1 {color: #16c79a;}

.header p {
  text-align: right;
  text-decoration: none;
  color: #16c79a;
  font-weight: 800;
  padding: 8px;
  border: 1px solid #16c79a;
  border-radius: 20px;
}

.header p:hover {
  background: #16c79b3c;
  border: 2px solid #16c79a;
}

.flex-container {
  display: flex;
  margin: auto;
}

.flex-container div {flex: 1;}

.leftFlex h2 {
  font-size: 50px;
  color: #11698e;
  margin-bottom: 50px;
}

.login-signup-form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.login-signup-form input {
  height: 40px;
  margin-bottom: 15px;
  padding: 0 10px;
}

.login-signup-form button {
  width: 50%;
  height: 40px;
  color: #11698e;
  background: white;
  border: 2px solid #11698e;
  font-size: 16px;
  font-weight: 600;
}

.login-signup-form button:hover {
  cursor: pointer;
  background: #37b2e8af;
}

.rightFlex img {
  width: 100%;
  border-radius: 50%;
  opacity: 2;
}

/* Sign Up */

.signUpContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  animation-name: flow;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.signUpContainer div {flex: 1;}

.signup-leftFlex {
  text-align: center;
  color: #11698e;
}

.signup-leftFlex img{
  width: 100%;
  border-radius: 50%;
  opacity: 2;
}

.signup-rightFlex h4{
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
  color: #333;
}

.signUpContainer h2 {
  font-size: 40px;
}

.signUpContainer h3 {
  font-size: 20px;
  margin-bottom: 30px;
}

.signup-form {
  margin: auto;
}

.signup-form input{
  width: 100%;
  margin: 0 auto 15px auto;
  border: none;
  border-bottom: 1px solid #11698e;
}

.signup-form input:focus{
  outline: none;
  border-bottom: 1px solid #16c79a;
}

.signup-form button {
  width: 100%;
}

@keyframes flow {
  0% {opacity: 0;}
  50% {opacity: 0.5;}
  100% {opacity: 1;}
}